
  <div class="card">
  <%= link_to article_path(article.id) do %>
    <div class="card_container">
      <div><%= image_tag article.img, class: "card_image" %></div>
      <div class="card_content">
        <h1 class="title"><%= article.name %></h1>
        <p class="description"><%= article.description %></p>
        <% if current_user.already_favorited?(article) %>
        <%= link_to 'いいねを外す', article_favorites_path(article), method: :delete %>
        <% else %>
        <%= link_to 'いいね', article_favorites_path(article), method: :post %>
        <% end %>
        <%= article.favorites.count %>
      </div>
    </div>
    <% end %>
  </div>
