
  <div class="card">
  <%= link_to article_path(article.id) do %>
    <div class="card_container">
      <div><%= image_tag article.img, class: "card_image" %></div>
      <div class="card_content">
        <h1 class="title"><%= article.name %></h1>
        <p class="description"><%= article.description %></p>
        <% if current_user.already_favorited?(article) %>
        <%= link_to article_favorites_path(article), method: :delete do %>
        <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to article_favorites_path(article), method: :post do %>
          <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
        <%= article.favorites.count %>
      </div>
    </div>
    <% end %>
  </div>
