<h1>Hello</h1>
<% if user_signed_in? %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
<%= link_to '新規投稿', new_article_path, class: "login" %>
<% else %>
<%= link_to 'ログイン', new_user_session_path, class: "login" %>
<%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
<% end %>



<br>ここに記述一覧が表示される<br>

<% @articles.each do |article| %>
<%= article.name %>
<%= image_tag article.image.variant(resize: '500x500'), class: "item-img" if article.image.attached? %>
<br><%= article.description %>
<% end %>