
  <head>
  <title>make worthwhile time</title>
  <meta name ="description" content="無駄をなくし、価値ある時間を増やすための学習サイト">
  </head>

  <body>
  <div id="home" class="big-bg">

  <header class="page-header wrapper">
      <nav>
      <ul class="main-nav">
        <% if user_signed_in? %>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "a" %></li>
        <li><%= link_to 'new post', new_article_path, class: "a" %></li>
        <% else %>
        <li><%= link_to 'login', new_user_session_path, class: "a" %></li>
        <li><%= link_to 'sign-up', new_user_registration_path, class: "a" %></li>
        <% end %>
    </ul>
</nav>
</header>
<div class="home-content wrapper">
<h2 class="page-title">make worthwhile time</h2>
  </div>
  <% @genres.each do |genre| %>
    <%= link_to genre %>
  <% end %>
</div><!--/#home-->
<%# <div class="wrapper grid"> %>
<div class="article_list">
<%= render @articles %>
</div>

<%# </div><!--/.grid--> %>

  </body>
</html>
